# docker related files
.dockerignore
Dockerfile*

# source repository history
.git

# unneeded
.travis.yml

# tool configuration
.idea
*.iml
.classpath
.settings
.Rproj.user
.reviewboardrc

# build directories
docker-volumes
target
*/target
*/*/target
