[[source]]

name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true


[requires]

python_version = "3.6"


[packages]

shakedown = {git = "https://github.com/dcos/shakedown.git", ref = "1.5.0"}
aiohttp = "*"
pytest-asyncio = "*"
dcos-launch = {git = "https://github.com/dcos/dcos-launch.git", ref = "da1f1af3c5943e08a4a40632f45d4e645e87405e"}
python-dateutil = "<2.7.0,>=2.1"
dcos-test-utils = {git = "https://github.com/dcos/dcos-test-utils", ref = "c9a4fc583a4a0bca18040ad4c7772e187e51aa74"}


[dev-packages]

"flake8" = "*"
