[[source]]

name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true


[requires]

python_version = "3.5"


[packages]

shakedown = {git = "https://github.com/dcos/shakedown.git", ref = "1.4.11"}


[dev-packages]

"flake8" = "*"
