[Unit]
Description=Marathon Framework

[Service]
User=ubuntu
Restart=always
StartLimitInterval=0
RestartSec=15
Environment="LIBPROCESS_IP={{node}}"
ExecStart=/bin/sh -c '{{marathon-home}}/bin/marathon \
        --framework_name marathon-dev \
        --hostname {{node}} \
        --http_address {{node}} \
        --http_port "8080" \
        --https_address {{node}} \
        --https_port "8443" \
        --master zk://{{zk-url}}/mesos \
        --zk zk://{{zk-url}}/marathon >> {{log-file}} 2>&1'
