@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url(https://themes.googleusercontent.com/static/fonts/lato/v6/Kom15zUm24dIPfIRiNogNuvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://themes.googleusercontent.com/static/fonts/lato/v6/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

@-webkit-keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

/* ==============
 * Base
 * ==============
 */

body {
  background: #111113;
  color: #ffffff;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

h1,
h2,
h3 {
  font-family: Lato;
  font-weight: 300;
  color: #ffffff;
}

h1 {
  font-size: 45px;
}

th {
  color: #B8E8EF;
}

.close,
.close:focus,
.close:hover {
  color: #ffffff;
  font-weight: normal;
  opacity: 1;
  text-shadow: none;
}

dt {
  color: #B8E8EF;
}

.dl-horizontal {
  /* Contain the floats */
  overflow: hidden;
}

.dl-horizontal dt {
  width: auto;
}

@media (min-width: 768px) {
  .dl-horizontal dd {
    float: left;
    margin-left: 0.5em;
  }
}

.modal {
  display: block;
}

.modal-footer {
  border-bottom: 7px solid rgb(60, 114, 157);
  border-top: none;
  margin-top: 0;
}

.modal-header {
  border-bottom: none;
}

.modal-content {
  background-color: #222224;
}

/* ==============
 * Helpers
 * ==============
 */
.fullscreen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.control-label {
  color: #B8E8EF;
  font-family: Lato;
  text-transform: uppercase;
}

.form-control {
  background: transparent;
  border-color: rgba(133, 133, 133, 0.1);
  font-family: Lato;
  color: white;
  box-shadow: inset 0 4px 4px rgba(0,0,0,0.3);
}

.btn {
  border-radius: 0;
  font-family: Lato;
  text-transform: uppercase;
}

.btn-link {
  color: #999;
}

.btn-primary {
  background-color: transparent;
  border-color: #3C729D;
  color: #3C729D;
}

.btn-primary:active,
.btn-primary:hover {
  background-color: #3C729D;
  color: #fff;
}

.btn-default {
  background-color: transparent;
  border-color: #FFFFFF;
  color: #FFFFFF;
}

.btn-default.disabled,
.btn-default[disabled] {
  background-color: transparent;
}

.system-folder,
.system-caret {
  font-weight: 100;
  text-transform: uppercase;
}

.navigator {
  width: 600px;
}

.system-caret {
  /* Force a new stacking context to prevent this animation from making the page
   * flicker in Chrome 31.
   */
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);

  -webkit-animation-duration: 1.2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: blink;
  -webkit-animation-timing-function: steps(1, start);

  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-name: blink;
  animation-timing-function: steps(1, start);
}

#terminal {
  display: inline-block;
}

#setter {
  left: -1000px;
  position: absolute;
}

.system-caret {
  width: 30px;
  display:inline-block;
  border-bottom: 2px solid rgba(184,232,239,1);
}

.system-caret.focus {
  border-bottom: 2px solid #428bca;
}

.input {
  font-size: 56px;
  font-family: 'Lato';
  font-weight: 300;
}

/* ==============
 * Textures
 * ==============
 */
.texture-background {
  background: -webkit-linear-gradient(rgba(28,54,69,0.8) 0%, rgba(0,0,0,0) 100%);
  background: linear-gradient(rgba(28,54,69,0.8) 0%, rgba(0,0,0,0) 100%);
  z-index: -1;
}

.add-button {
  margin-top: 20px;
}

.table > tbody > tr.active > td,
.table-hover > tbody > tr:hover > td {
  background-color: #B8E8EF;
  color: #111113;
}

.table-selectable tr > td {
  cursor: pointer;
}
