@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://themes.googleusercontent.com/static/fonts/lato/v6/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

@-webkit-keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

/* ==============
 * Base
 * ==============
 */

body {
  background: #111113;
  color: #ffffff;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  font-family: Lato;
}

h1, .h1 {
  text-transform: uppercase;
}

hr {
  border-color: #333;
}

dt,
th {
  color: #B8E8EF;
  font-weight: 200;
}

a:hover,
a:focus {
  color: #3C729D;
}

.badge {
  background-color: #B8E8EF;
  color: #333;
}

.badge-default {
  background-color: #EEE;
  color: #444;
}

.badge-warning {
  background-color: #E8EF98;
}

.close,
.close:focus,
.close:hover {
  color: #ffffff;
  font-weight: 200;
  opacity: 1;
  text-shadow: none;
}

.help-block {
  color: #b3b3b3;
}

.modal {
  display: block;
}

.modal-footer {
  border-top: none;
  margin-top: 0;
  padding-top: 0;
}

.modal-header {
  border-bottom: none;
  padding-bottom: 0;
}

.modal-content {
  background-color: #222224;
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline {
  color: #F98482;
}

.nav-tabs {
  border-bottom-color: #444;
  margin-bottom: 20px;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-tabs > li > a {
  color: #aaa;
  line-height: 1.1;
}

.nav-tabs > li > a:hover {
  color: #444;
}

.table > thead > tr > th {
  border-bottom-color: rgba(255, 255, 255, 0.3);
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top-color: rgba(255, 255, 255, 0.3);
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background-color: transparent;
  border-color: #444;
  border-bottom-color: #222224;
  color: #FFF;
}

.list-inline > li {
  margin-right: 10px;
}

.text-info {
  color: #B8E8EF;
}

.text-warning {
  color: #EBDE53;
}

/* ==============
 * Helpers
 * ==============
 */
.fullscreen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.control-label {
  color: #B8E8EF;
  font-weight: 200;
}

.form-control {
  background: transparent;
  border-color: rgba(133, 133, 133, 0.1);
  color: white;
  box-shadow: inset 0 4px 4px rgba(0,0,0,0.3);
}

.btn {
  border-radius: 0;
}

.btn-link {
  color: #999;
}

.btn-primary {
  background-color: transparent;
  border-color: #3C729D;
  color: #3C729D;
}

.btn-primary:active,
.btn-primary:hover {
  background-color: #3C729D;
  color: #fff;
}

.btn-default {
  background-color: transparent;
  border-color: #FFFFFF;
  color: #FFFFFF;
}

.btn-default.disabled,
.btn-default[disabled] {
  background-color: transparent;
}

.system-caret {
  /* Force a new stacking context to prevent this animation from making the page
   * flicker in Chrome 31.
   */
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);

  -webkit-animation-duration: 1.2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: blink;
  -webkit-animation-timing-function: steps(1, start);

  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-name: blink;
  animation-timing-function: steps(1, start);

  width: 0.7em;
  display:inline-block;
  border-bottom: 1px solid #fff;
}

.overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* ==============
 * Textures
 * ==============
 */
.texture-background {
  background: -webkit-linear-gradient(rgba(28,54,69,0.8) 0%, rgba(0,0,0,0) 100%);
  background: linear-gradient(rgba(28,54,69,0.8) 0%, rgba(0,0,0,0) 100%);
  z-index: -1;
}

.header-btn {
  margin-top: 20px;
}

.table-fixed {
  table-layout: fixed;
}

.table > tbody > tr.active > td,
.table-hover > tbody > tr:hover > td {
  background-color: #B8E8EF;
  color: #111113;
}

.table-selectable tr > td {
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}
