@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url(https://themes.googleusercontent.com/static/fonts/lato/v6/Kom15zUm24dIPfIRiNogNuvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://themes.googleusercontent.com/static/fonts/lato/v6/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

@-webkit-keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes power-on {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes power-on {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-webkit-keyframes show-details {
  from { bottom: -10px; opacity: 0; }
  to { bottom: 0; opacity: 1; }
}

@keyframes show-details {
  from { bottom: -10px; opacity: 0; }
  to { bottom: 0; opacity: 1; }
}

.lightbox {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: table;
  table-layout: fixed;
  background-color: rgba(0,0,0,0.7);
  z-index: 999;
}

.lightbox > .lightbox-inner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

.lightbox-inner > .lb-content {
  display: inline-block;
  text-align: left;
  min-width: 550px;
  max-width: 660px;
}

.lb-content {
  background-color: white;
}

/* ==============
 * Base
 * ==============
 */

body {
  background: #111113;
  color: #B8E8EF;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

header {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

h1,
h2,
h3 {
  font-family: Lato;
  font-weight: 300;
  color: #ffffff;
}

h1 {
  font-size: 50px;
}

.dl-horizontal {
  /* Contain the floats */
  overflow: hidden;
}

.dl-horizontal dt {
  width: auto;
}

.dl-horizontal dd {
  color: #ffffff;
  float: left;
  margin-left: 0.5em;
}

/* ==============
 * Helpers
 * ==============
 */
.fullscreen {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}

.app {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: table;
  table-layout: fixed;
  z-index: 999;
}

.app-inner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

.app-content {
  display: inline-block;
  text-align: left;
}

.window {
  background: #111113;;
  padding: 30px;
  border-bottom: 7px solid rgb(60, 114, 157);
}

.window-header {
  margin-bottom: 40px;
  margin-top: 0;
}

.input-row {
  margin-bottom: 10px;
}

.input-row label {
  width: 175px;
  font-family: Lato;
  text-transform: uppercase;
  font-size: 24px;
  text-align: right;
  margin-right: 10px;
  color: #3C729D;
}

.input-row input {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(133,133,133,0.1);
  width: 350px;
  padding: 5px;
  font-size: 30px;
  font-family: Lato;
  color: white;
  box-shadow: inset 0 4px 4px rgba(0,0,0,0.3);
}

.btn {
  border-radius: 0;
  font-family: Lato;
  font-size: 24px;
  padding: 7px 35px;
  text-transform: uppercase;
}

.btn-link {
  color: #999;
}

.btn-primary {
  background-color: transparent;
  border-color: #3C729D;
  color: #3C729D;
}

.btn-primary:active,
.btn-primary:hover {
  background-color: #3C729D;
  color: #fff;
}

.system-folder,
.system-caret {
  font-weight: 100;
  text-transform: uppercase;
}

.navigator {
  width: 600px;
}

.system-caret {
  -webkit-animation-duration: 1.2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: blink;
  -webkit-animation-timing-function: steps(1, start);

  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-name: blink;
  animation-timing-function: steps(1, start);
}

.system-select {
  display: inline-block;
  width: 900px;
}

.list {
  position: relative;
  left: 399px;
  font-size: 56px;
  font-family: 'Lato';
  text-transform: uppercase;
  font-weight: 100;
  width: 600px;
  color: black;
}

.list li {
  margin-top: 5px;
  padding: 3px 10px;
  color: #B8E8EF;
  background: rgba(60,114,157,0.2);
}

.list li:hover {
  cursor: pointer;
  background: rgba(60,114,157,1);
}

.list li:first-child {
  margin-top: 0;
}

.list .add {
  text-align: center;
  color: #111113;
  font-weight: bold;
  background: transparent;
  color: #3C729D;
  border: 1px solid #3C729D;
}

.add:hover {
  color: #111113;
}

.title {
  text-transform: uppercase;
  padding: 8px 10px 5px;
  border: 1px solid #3C729D;
}

.apps-wrapper .items {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 36px;
  overflow-y: scroll;
}

.items li {
  padding: 18px 10px 14px;
  border: 1px solid #3C729D;
  border-top-color: transparent;
  color: #E6E6E6;
}

.app-inner.left.open {
  text-align: right;
  opacity: 0.4;
}
.app-inner.right {
  display:none;
  text-align: left;
}
.app-inner.right.open {
  display: table-cell;
}

.right .app-content {
  margin-left: 25px;
}

.left .app-content {
  margin-right: 25px;
}


.details-pane {
  width: 0px;
  height: 900px;
}

.content {
  padding: 20px;
  opacity: 0;

  -webkit-animation-duration: 300ms;
  -webkit-animation-name: power-on;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 1.1s;
  -webkit-animation-fill-mode: forwards;

  animation-delay: 1.1s;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  animation-name: power-on;
  animation-timing-function: linear;
}

#terminal {
  display: inline-block;
}

#setter {
  left: -1000px;
  position: absolute;
}

.system-caret {
  width: 30px;
  display:inline-block;
  border-bottom: 2px solid rgba(184,232,239,1);
}

.system-caret.focus {
  border-bottom: 2px solid #428bca;
}

.input {
  font-size: 56px;
  font-family: 'Lato';
  font-weight: 300;
}

#prompt-text {
  display: none;
  color: rgba(215,226,37,1);
}

.details {
  margin-top: 10px;
  position: relative;
  bottom: -1000px;
  width: 1200px;
  height: 900px;
  border: 1px solid #3C729D;
}

#prompt-text.open {
  -webkit-animation-duration: 300ms;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: add-new;

  animation-duration: 300ms;
  animation-fill-mode: forwards;
  animation-name: add-new;
}

.details.open {
  -webkit-animation-name: show-details;
  -webkit-animation-fill-mode: forwards;

  animation-name: show-details;
  animation-fill-mode: forwards;
}

/* ==============
 * Textures
 * ==============
 */
.texture-background {
  background: -webkit-linear-gradient(rgba(28,54,69,0.8) 0%, rgba(0,0,0,0) 100%);
  background: linear-gradient(rgba(28,54,69,0.8) 0%, rgba(0,0,0,0) 100%);

  -webkit-animation-duration: 1s;
  -webkit-animation-name: power-on;
  -webkit-animation-timing-function: ease-in;

  animation-duration: 1s;
  animation-name: power-on;
  animation-timing-function: ease-in;
}

.outer-border {
  border: 2px solid #C9F0FB;
  border-radius: 3px;
  height: 96%;
  width: 98%;
}

.inner-border {
  border: 1px solid #3C729D;
  border-radius: 3px;
  height: 93%;
  width: 95%;
}

.start-view {
  height: auto;
  min-width: 100%;
  background: rgba(60,114,157,0.8);
}

.start-view-list {
  overflow: hidden;
}

.marathon.add {
  -webkit-transform: rotateX(-2deg);
  -webkit-transform-origin-x: 50%;
  -webkit-transform-origin-y: 50%;
  -webkit-transform-origin-z: initial;
  -webkit-transform-style: preserve-3d;
}

.app-item .uris {
  position: absolute;
  background: black;
  padding: 3px;
  color: white;
  display: none;
}

.uri-wrapper:hover .uris {
  display: block;
}

.add-button {
  text-align: center;
  font-weight: bold;
  background: transparent;
  color: #3C729D;
  border: 1px solid #3C729D;
  font-size: 25px;
  font-family: arial-black;
  height: auto;
  line-height: 3.4em;
  padding-bottom: 0;
  cursor: pointer;
}

.add-button:hover {
  color: #0F181D;
  background: #3C729D;
}

.add-button:active {
  position: relative;
  top: 1px;
  opacity: 0.5;
}

.table-hover > tbody > tr:hover > td {
  background-color: #B8E8EF;
  color: #111113;
}
