@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url(https://themes.googleusercontent.com/static/fonts/lato/v6/Kom15zUm24dIPfIRiNogNuvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://themes.googleusercontent.com/static/fonts/lato/v6/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

@-webkit-keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes power-on {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes power-on {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* ==============
 * Base
 * ==============
 */

body {
  background: #111113;
  color: #B8E8EF;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

header {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

h1,
h2,
h3 {
  font-family: Lato;
  font-weight: 300;
  color: #ffffff;
}

h1 {
  font-size: 45px;
}

.close,
.close:focus,
.close:hover {
  color: #ffffff;
  font-weight: normal;
  opacity: 1;
  text-shadow: none;
}

.dl-horizontal {
  /* Contain the floats */
  overflow: hidden;
}

.dl-horizontal dt {
  width: auto;
}

.dl-horizontal dd {
  color: #ffffff;
  float: left;
  margin-left: 0.5em;
}

.modal {
  display: block;
}

.modal-footer {
  border-bottom: 7px solid rgb(60, 114, 157);
  border-top: none;
  margin-top: 0;
}

.modal-header {
  border-bottom: none;
}

.modal-content {
  background-color: #222224;
}

/* ==============
 * Helpers
 * ==============
 */
.fullscreen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.control-label {
  font-family: Lato;
  text-transform: uppercase;
}

.form-control {
  background: transparent;
  border-color: rgba(133, 133, 133, 0.1);
  font-family: Lato;
  color: white;
  box-shadow: inset 0 4px 4px rgba(0,0,0,0.3);
}

.btn {
  border-radius: 0;
  font-family: Lato;
  text-transform: uppercase;
}

.btn-xs {
  font-size: 12px;
  padding: 1px 5px;
}

.btn-xs + .btn-xs {
  margin-left: 5px;
}

.btn-link {
  color: #999;
}

.btn-primary {
  background-color: transparent;
  border-color: #3C729D;
  color: #3C729D;
}

.btn-primary:active,
.btn-primary:hover {
  background-color: #3C729D;
  color: #fff;
}

.btn-default {
  background-color: transparent;
  border-color: #FFFFFF;
  color: #FFFFFF;
}

.btn-default.disabled,
.btn-default[disabled] {
  background-color: transparent;
}

.system-folder,
.system-caret {
  font-weight: 100;
  text-transform: uppercase;
}

.navigator {
  width: 600px;
}

.system-caret {
  -webkit-animation-duration: 1.2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: blink;
  -webkit-animation-timing-function: steps(1, start);

  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-name: blink;
  animation-timing-function: steps(1, start);
}

.system-select {
  display: inline-block;
  width: 900px;
}

.title {
  text-transform: uppercase;
  padding: 8px 10px 5px;
  border: 1px solid #3C729D;
}

.items li {
  padding: 18px 10px 14px;
  border: 1px solid #3C729D;
  border-top-color: transparent;
  color: #E6E6E6;
}

.content {
  opacity: 0;

  -webkit-animation-duration: 250ms;
  -webkit-animation-name: power-on;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0.6s;
  -webkit-animation-fill-mode: forwards;

  animation-delay: 0.6s;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
  animation-name: power-on;
  animation-timing-function: linear;
}

#terminal {
  display: inline-block;
}

#setter {
  left: -1000px;
  position: absolute;
}

.system-caret {
  width: 30px;
  display:inline-block;
  border-bottom: 2px solid rgba(184,232,239,1);
}

.system-caret.focus {
  border-bottom: 2px solid #428bca;
}

.input {
  font-size: 56px;
  font-family: 'Lato';
  font-weight: 300;
}

/* ==============
 * Textures
 * ==============
 */
.texture-background {
  background: -webkit-linear-gradient(rgba(28,54,69,0.8) 0%, rgba(0,0,0,0) 100%);
  background: linear-gradient(rgba(28,54,69,0.8) 0%, rgba(0,0,0,0) 100%);
  z-index: -1;

  -webkit-animation-duration: 1s;
  -webkit-animation-name: power-on;
  -webkit-animation-timing-function: ease-in;

  animation-duration: 1s;
  animation-name: power-on;
  animation-timing-function: ease-in;
}

.start-view-list {
  overflow: hidden;
}

.app-item .uris {
  position: absolute;
  background: black;
  padding: 3px;
  color: white;
  display: none;
}

.uri-wrapper:hover .uris {
  display: block;
}

.add-button {
  margin-top: 20px;
}

.table-hover > tbody > tr:hover > td {
  background-color: #B8E8EF;
  color: #111113;
}

.app-item-header {
  margin-top: 0px;
}
