 body {
    background: #111113;
    color: #eee;
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
  }

  a,
  a:link {
    color: #3C729D;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  a:visited {
    color: #9D729D;
  }

  h1, h2 {
    border-bottom: 1px solid #3C729D;
  }

  table { width: 100%; }

  th { text-align: left; }
