---
---

#searchBar {
   font-size: 80%;
   padding: 0.90em 0 0.57em;

   #search {
     float: right;

     #searchString {
       width: 283px;
       border: none;
       box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
       padding: 0.3em 0.6em;
       background-color: #f6f5ea;
       margin-right: 0;
     }

     #searchButton {
       padding: 0.3em 0.6em;
       background-color: #f6f5ea;
       border: 1px solid #f6f5ea;
       margin-left: 0;
       -webkit-appearance: none;
       border-radius: 0;
     }

     #archives {
       line-height: 2;
       float: left;
       text-wrap: avoid;
     }
   }
 }
@import "base";
@import "buttons";
@import "highlight";