[[source]]

name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true


[requires]

python_version = "3.6"


[packages]

aiohttp = "*"
pytest-asyncio = "*"
dcos-launch = {git = "https://github.com/dcos/dcos-launch.git", ref = "57d91fb7f582e9687ceca132c1d085e4c144e86c"}
python-dateutil = "<2.7.0,>=2.1"
dcos-test-utils = {git = "https://github.com/dcos/dcos-test-utils", ref = "c9a4fc583a4a0bca18040ad4c7772e187e51aa74"}
"214ae30" = {path = "../shakedown", editable = true}


[dev-packages]

"flake8" = "*"
