<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%highlight(%-5level)[%date{HH:mm:ss} %logger{0}] %message%n</pattern>
        </encoder>
    </appender>

    <!-- Change to DEBUG for debugging test failures -->
    <logger name="mesosphere.marathon" level="INFO"/>
    <logger name="mesosphere.marathon.integration.process" level="DEBUG"/>
    <logger name="akka" level="INFO"/>
    <logger name="native-zk-connector" level="WARN" />
    <logger name="org.eclipse" level="INFO"/>
    <logger name="org.apache.zookeeper" level="WARN" />

    <logger name="spray" level="ERROR"/>
    <root level="INFO">
        <appender-ref ref="stdout"/>
    </root>
</configuration>
