<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%date] %level [%X{akkaSource}] %message%n</pattern>
        </encoder>
    </appender>

    <!-- Change to DEBUG for debugging test failures -->
    <logger name="mesosphere.marathon" level="INFO"/>
    <logger name="akka" level="INFO"/>

    <logger name="spray" level="ERROR"/>
    <root level="INFO">
        <appender-ref ref="stdout"/>
    </root>
</configuration>
