<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <title>Logger Config</title>
    <link rel="stylesheet" href="/css/chaos.css">
  </head>

  <body>
    <h1>Logger Config</h1>

    {{#configChange}}
      <h4 class="alert-info">{{configChange}}</h4>
    {{/configChange}}

    <form action="" method="post">
      <select name="logger">
      {{#loggers}}
        <option>{{name}}</option>
      {{/loggers}}
      </select>
      <select name="level">
        {{#levels}}
          <option>{{.}}</option>
        {{/levels}}
      </select>
      <button type="submit">Save</button>
    </form>

    <table>
      <thead>
        <tr>
          <th>Logger</th>
          <th>Level</th>
        </tr>
      </thead>
      <tbody>
      {{#loggers}}
        <tr>
          <td>{{name}}</td>
          <td>{{level}}</td>
        </tr>
      {{/loggers}}
      </tbody>
    </table>
  </body>
</html>
