body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans;
}

#hud {
    color: #fff;
    position: absolute;
    top: 20px;
    left: 20px;
    opacity: 0.7;
    background: #1e1e1e;
    min-width: 320px;
    z-index: 10;
    padding: 40px;
}
#hud a {
    color: #fff;
}
#hud h4 {
  font-weight: normal;
  font-size: 18px;
  margin: 0;
}
#hud .content {
  margin-top: 10px;
  border-top: 1px solid #444;
}
